Потренируем навыки, полученные на практическом занятии.
​
Пользуясь новыми знаниями, проведите эксплоративный анализ данных на данных недвижимости Бостона, и попытайтесь обучить линейную модель наиболее качественно. Все ваши действия и решения описывайте в markdown.
​
Данные вы сможете получить исполнив следующий код:
from sklearn.datasets import load_boston
import pandas as pd
data = pd.read_csv(load_boston()[‘filename’], skiprows=1)
​
Переменная, которую надо предсказать - ’MEDV’.
​
Прочитать информацию о содержимом датасета:
print(load_boston()[‘DESCR’])
​
Если вы неудовлетворенны результатом, но лучшего решения предложить не можете, то высылайте задание на проверку.
Цель задания - закрепить полученные навыки.

In [1]:
from sklearn.datasets import load_boston
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import LinearRegression
import warnings
warnings.filterwarnings='ignore'

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
# print(load_boston()['DESCR'])

CRIM per capita crime rate by town

ZN proportion of residential land zoned for lots over 25,000 sq.ft.

INDUS proportion of non-retail business acres per town

CHAS Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)

NOX nitric oxides concentration (parts per 10 million)

RM average number of rooms per dwelling

AGE proportion of owner-occupied units built prior to 1940

DIS weighted distances to five Boston employment centres

RAD index of accessibility to radial highways

TAX full-value property-tax rate per $10,000

PTRATIO pupil-teacher ratio by town

B 1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town

LSTAT % lower status of the population

MEDV Median value of owner-occupied homes in $1000’s

In [3]:
data = pd.read_csv(load_boston()['filename'], skiprows=1)
data.head(10)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
5,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21,28.7
6,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9
7,0.14455,12.5,7.87,0,0.524,6.172,96.1,5.9505,5,311,15.2,396.90,19.15,27.1
8,0.21124,12.5,7.87,0,0.524,5.631,100.0,6.0821,5,311,15.2,386.63,29.93,16.5
9,0.17004,12.5,7.87,0,0.524,6.004,85.9,6.5921,5,311,15.2,386.71,17.10,18.9

In [4]:
# data.isna().sum()
# data.info()

In [5]:
data = data[~data['MEDV'].isin(['50'])]
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [6]:
data.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,490.000000,490.000000,490.000000,490.000000,490.000000,490.000000,490.00000,490.000000,490.000000,490.000000,490.000000,490.000000,490.00000,490.000000
mean,3.643241,11.112245,11.113143,0.059184,0.554307,6.245471,68.27898,3.834519,9.514286,408.002041,18.520000,355.855449,12.92402,21.635918
std,8.722154,22.844626,6.821302,0.236209,0.116688,0.653147,28.16479,2.109948,8.691297,168.065190,2.110478,92.634273,7.08318,7.865301
min,0.006320,0.000000,0.740000,0.000000,0.385000,3.561000,2.90000,1.137000,1.000000,187.000000,12.600000,0.320000,1.98000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.881000,44.55000,2.111050,4.000000,280.250000,17.400000,375.912500,7.34750,16.700000
50%,0.247510,0.000000,9.690000,0.000000,0.538000,6.185000,76.80000,3.275900,5.000000,330.000000,19.100000,391.770000,11.67500,20.900000
75%,3.647422,12.500000,18.100000,0.000000,0.624000,6.578000,93.87500,5.214600,24.000000,666.000000,20.200000,396.322500,17.11750,24.675000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.00000,12.126500,24.000000,711.000000,22.000000,396.900000,37.97000,48.800000

Проверяем не выброс ли 88 в CRIM. Нет. Столбец можно оставить тк цена дома в теории зависит от уровня преступности. С другой стороны я не понимаю почему в описании преступность на душу населения по ГОРОДАМ, если у нас только бостон, может быть это преступность в конкретном районе или квартале. В одной модели оставлю, в другой удалю.

In [7]:
data[data['CRIM'] > 20].head(1)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
378,23.6482,0.0,18.1,0,0.671,6.38,96.2,1.3861,24,666,20.2,396.9,23.69,13.1

Доля жилой земли ZN может быть нулевой, тк расчет идет для участков от 25к, и в городе есть участки с меньшим размером. Cтоит оставить тк чем больше площать жилой земли, тем дороже цена, тем более это нам дает понять, что участок больше 25к.

In [8]:
data[data['ZN'] > 50].head(1)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
39,0.02763,75.0,2.95,0,0.428,6.595,21.8,5.4011,3,252,18.3,395.63,4.32,30.8

Опять таки, не понимаю, что за доля бизнес площади в городе, возможно - это участки предназначенные не для жилья, а для какого - то ведения бизнеса, по типу наших нежилых помещений, и они должны быть дешевле жилых, также в одной модели оставлю, в другой уберу

In [9]:
data[data['INDUS'] > 15].head(1)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
92,0.04203,28.0,15.04,0,0.464,6.442,53.6,3.6659,4,270,18.2,395.01,8.16,22.9

Некая переменная, которая нам показывет водичку около дороги, водичка - это хорошо, оставим, а потом удалим, вдруг это болото

In [10]:
data[data['CHAS'] == 1].head(1)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
142,3.32105,0.0,19.58,1,0.871,5.403,100.0,1.3216,5,403,14.7,396.9,26.82,13.4

Думаю, что концентрация оксидов нам не особо интересна, можно было бы поменять значения, на low mid high, но с категориями мы еще не работали, если заменить на 1,2,3 думаю это даст неправильные веса в модели.

In [11]:
# data[data['NOX'] < data['NOX'].mean() - data['NOX'].std()].head(1)
data[data['NOX'] > data['NOX'].mean() + data['NOX'].std()].head(1)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
142,3.32105,0.0,19.58,1,0.871,5.403,100.0,1.3216,5,403,14.7,396.9,26.82,13.4

Комнаты - это хорошо, если конечно это не общага для чернокожих, оставляем, Только сперва округлим.

In [12]:
# Смотрим сколько комнат с окончанием 0.5, чтобы применить функцию round, ибо round при 0.5 округляет к ближайшему четному
(data['RM'] % 1 == 0.5).sum()
# 0 строк, отлично
data.loc[:, 'RM'] = data['RM'].round().astype(int)
data.head(1)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,7,65.2,4.09,1,296,15.3,396.9,4.98,24.0

Наличие стариков или детей нас не особо волнует, удаляем.

In [13]:
data[data['AGE'] == 100].head(1)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
8,0.21124,12.5,7.87,0,0.524,6,100.0,6.0821,5,311,15.2,386.63,29.93,16.5

Расстояние до БЦ и до магистралей нужная вещь, оставляем.

Зная налоговую ставку можно примерно понять, что за тип жилья, ну если исходить из логики, попробуем оставить, но также возможно, что ставка зависит не от типа жилья, а от других факторов, например от наличия колодца или гаража(образно), что нам никак не поможет в предсказании цены

In [14]:
data[data['TAX'] < 200].head(10)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
120,0.06899,0.0,25.65,0,0.581,6,69.7,2.2577,2,188,19.1,389.15,14.37,22.0
121,0.07165,0.0,25.65,0,0.581,6,84.1,2.1974,2,188,19.1,377.67,14.27,20.3
122,0.09299,0.0,25.65,0,0.581,6,92.9,2.0869,2,188,19.1,378.09,17.93,20.5
123,0.15038,0.0,25.65,0,0.581,6,97.0,1.9444,2,188,19.1,370.31,25.41,17.3
124,0.09849,0.0,25.65,0,0.581,6,95.8,2.0063,2,188,19.1,379.38,17.58,18.8
125,0.16902,0.0,25.65,0,0.581,6,88.4,1.9929,2,188,19.1,385.02,14.81,21.4
126,0.38735,0.0,25.65,0,0.581,6,95.6,1.7572,2,188,19.1,359.29,27.26,15.7
179,0.05780,0.0,2.46,0,0.488,7,58.4,2.8290,3,193,17.8,396.90,5.04,37.2
180,0.06588,0.0,2.46,0,0.488,8,83.3,2.7410,3,193,17.8,395.56,7.56,39.8
181,0.06888,0.0,2.46,0,0.488,6,62.2,2.5979,3,193,17.8,396.90,9.45,36.2

In [15]:
data[data['TAX'] > 665].head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
356,8.98296,0.0,18.1,1,0.77,6,97.4,2.1222,24,666,20.2,377.73,17.60,17.8
357,3.84970,0.0,18.1,1,0.77,6,91.0,2.5052,24,666,20.2,391.34,13.27,21.7
358,5.20177,0.0,18.1,1,0.77,6,83.4,2.7227,24,666,20.2,395.43,11.48,22.7
359,4.26131,0.0,18.1,0,0.77,6,81.3,2.5091,24,666,20.2,390.74,12.67,22.6
360,4.54192,0.0,18.1,0,0.77,6,88.0,2.5182,24,666,20.2,374.56,7.79,25.0

In [16]:
data['TAX'].value_counts().sort_index()

187      1
188      7
193      7
216      5
222      7
      ...
432      9
437     15
469      1
666    127
711      5
Name: TAX, Length: 64, dtype: int64

In [17]:
data = data[~data['TAX'].isin(['666'])]

Учителя и ученики - это конечно же хорошо, но опять таки, что это здесь делает, я не знаю, опять соотношение в городе, тут цифры более уникальные нежели в столбце CRIM, возможно тут есть какое то разделение на районы, будем считать, что тут это районы, чем больше учителей, тем больше школ, ну или криминальный район, и детишки не особо ходят в школу, пробуем оставить

In [18]:
data['PTRATIO'].value_counts().head(1)

14.7    29
Name: PTRATIO, dtype: int64

Доля чернокожих нас точно не интересует, мы же не расисты какие - то)

Что за процент ниже статуса населения - не понятно, попробует оставить и убрать потом

In [19]:
# Первый случай
new_data_1 = data.drop(['NOX', 'AGE', 'B'], axis=1)
new_data_1.head()

      CRIM    ZN  INDUS  CHAS  RM     DIS  RAD  TAX  PTRATIO  LSTAT  MEDV
0  0.00632  18.0   2.31     0   7  4.0900    1  296     15.3   4.98  24.0
1  0.02731   0.0   7.07     0   6  4.9671    2  242     17.8   9.14  21.6
2  0.02729   0.0   7.07     0   7  4.9671    2  242     17.8   4.03  34.7
3  0.03237   0.0   2.18     0   7  6.0622    3  222     18.7   2.94  33.4
4  0.06905   0.0   2.18     0   7  6.0622    3  222     18.7   5.33  36.2

In [20]:
# Второй случай
new_data_2 = data.drop(['CRIM', 'INDUS', 'CHAS', 'NOX', 'AGE', 'B'], axis=1)
new_data_2.head()

     ZN  RM     DIS  RAD  TAX  PTRATIO  LSTAT  MEDV
0  18.0   7  4.0900    1  296     15.3   4.98  24.0
1   0.0   6  4.9671    2  242     17.8   9.14  21.6
2   0.0   7  4.9671    2  242     17.8   4.03  34.7
3   0.0   7  6.0622    3  222     18.7   2.94  33.4
4   0.0   7  6.0622    3  222     18.7   5.33  36.2

In [21]:
X = new_data_1[['CRIM', 'ZN', 'INDUS', 'CHAS', 'RM', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'LSTAT']]
y = new_data_1['MEDV']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(new_data_1[['CRIM', 'ZN', 'INDUS', 'CHAS', 'RM', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'LSTAT']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [-0.78454163  0.02995658 -0.04079494  0.36766559  5.87851863 -0.67150368
  0.34759873 -0.0122824  -0.64680858 -0.31415796]
Bias: 7.3049051916952585
Error: 2.574832291244112

In [22]:
X = new_data_2[['ZN', 'RM', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'LSTAT']]
y = new_data_2['MEDV']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(new_data_2[[ 'ZN', 'RM', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'LSTAT']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [ 0.03133069  6.04569908 -0.5678041   0.34605247 -0.01397822 -0.58211127
 -0.34051694]
Bias: 4.814735411081109
Error: 2.5739760076846805

In [23]:
X = data[['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT']]
y = data['MEDV']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [ 0.43052505  0.02329807 -0.00906271  0.41926165 -8.74944967  6.33459836
 -0.04136602 -1.02181723  0.349007   -0.01070295 -0.67757707  0.01156788
 -0.21046817]
Bias: 6.8744648883161155
Error: 2.4588121503306324

### после удаления 50 в medv и 666 в TAX качество стало на 30% лучше, значений больше 50 нет скорее всего какие - то ограничения были при сборе инфы, а в TAX 666 были некоторые аномальные значения в слобце CRIME вроде как, да и самих значений 666 было очень много, после их удаления модель тоже стала лучше